* {
    margin: 0px;
    padding: 0px;
 }
body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
}

.title-bar{
    padding: 0 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 1;
    transition: 0.3s;
    /* width: 100%; */
    height:10vh;
}


.title-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .title-bar-content{
    opacity: 1;
} */

/* .title-bar:hover{opacity: 1;} */

.title-bar ul li{
    /* float: left; */
    margin: 0 5vh;
    align-self: center;
    /* font-size: 100%; */
}

.title-bar ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.title-bar ul li a:hover{
/* opacity: 1; */
    color: orange;
}


#title{
    /* float: left; */
    color: white;
    /* margin: 2%; */
    /* margin-right: 15%; */
    /* padding: 1%; */
    font-size: 35px;
    /* transition: 0.3s; */
}

#title:hover{
    cursor: pointer;
}

.account-button{
    /* float: right; */
    /* margin: 3%; */
    padding: 1%;
    color: white;
    border: 2px solid white;
    transition: 0.3s;
}
.account-button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}


/*Modal sign in*/
